body {
    background-color: antiquewhite; border-color: aqua; border-radius: 20px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: justify; font-weight: 700; font-size: larger;
}

h2 {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: justify; font-weight: 500; font-size: medium;
}


